
<div class="container">
	<div class="row">
		<!-- note: Bootstrap used, three col divs used to center the button-->

		<div class="col">
		</div>

		<div class="col">
			<!-- clicking image button will perform a redirect -->
			<form method="POST" action="/">
				<button class="btn btn-outline-light">
     				<img src="img/cake_sample.jpeg" class="img-fluid rounded" max-width="100%" />
				</button>
			</form>
		</div>
		
		<div class="col">
		</div>
	</div>
</div>