<h2> Welcome {{user.name}} </h2>

<form method="get" action="/logout">
    <input type="submit" value="Log Out" class="logoutBtn"/>
</form>

<h1> Dashboard </h1>

<div id="ordersDisplay"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/orders_listener.js"></script>