<table>
	<h1>Bakeries</h1>
	<tr>
		<th>Username</th>
		<th>Name</th>
		<th>Address</th>
	</tr>
	{{#each bakeries as |bakery|}}
	<tr>
		<td>{{bakery.bakeryId.username}}</td>
		<td>{{bakery.name}}</td>
		<td>{{bakery.address}}</td>
	</tr>
	{{/each}}
</table>