<h2> Bakery Log in </h2>

<form method="POST" action="/bakery/login">
    Username: <input type="text" name="username" required><br>
    Password: <input type="password" name="password" required><br>
    <input type="submit" value="Log In">
</form>

<p> Don't have an account? <a href="/bakery/register"> Register </a> </p> 