<h2> Welcome, {{user.email}} </h2>

<h1> Dashboard </h1>

<form method = "GET" action = "/getCake">
	<input type="submit" value="Get Cake!"/>
</form>

<div id="ordersDisplay"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/orders_tracker.js"></script>